*{
  padding: 0;
  margin: 0;
}

.nav-item {
  color: #D1D5DB; /* text-gray-300 */
  transition: color 0.3s;
}

.nav-item:hover {
  color: #FFFFFF; /* text-white */
}

.thin-separator {
  height: 0.1px;
}

.timer {
  font-family: 'Arial', sans-serif;
  font-size: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
